*{
    margin: 0;
    padding: 0;
}
span{
    color: #4AA0FC;
}  
.topnav{
    display: flex;
    justify-content: space-around;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #3F49C026;
    opacity: 1;
    position: fixed;
    width: 100%;
    margin-bottom: 25px;
}
.titlephoto{
    display: flex;
    margin: auto;

}
.logo{
    width: 17.2vw;
    height: 9.5vh;
   
    
}
.second-container{
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    margin: auto;
    background: #F9FCFF 0% 0% no-repeat padding-box;
}
.flex-2{
    display: flex;
    gap: 4.3vw;
    justify-content: space-between;
    color: #4A4A4A;
    font: normal normal 600 15px/20px Segoe UI;
    opacity: 1;
    margin: auto;
}
.flex-2 p:hover{
    cursor: pointer;
    color: #5E57E2;

}
.flex-3{
    display: flex;
    margin: auto;
}
.btn-getdemo{
    width:9.2vw;
    height: 5.4vh;
    background: #0537AC 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 3px #00000029;
    border-radius: 9px;
    opacity: 1;
    color: #FFFFFF;
}
.flex2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 42vw;
    margin: auto;
}
.headining1{
    display: flex;
    font: normal normal bold 38px/44px Graphik;
    letter-spacing: 0.08vwpx;
    color: #363636;
    
}
.para1{
    display: flex;
    text-align: left;
    font: normal normal normal 24px/32px Graphik;
    letter-spacing: 0.08vw;
    color: #5D5D6E;
}
.btn-flex{
    display: flex;
    flex-direction: row;
    gap: 1.7vw;
}
.btn-flex button{
    width: 11.5vw;
    height: 7.4vh;
    background: goldenrod 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border: goldenrod;
}
.btn-flex button:hover{
    background: white;
    border: 2px solid goldenrod;
    border-radius: 8px;
    cursor: pointer;
}
.homesection{
    align-items: center;
    padding-top: 160px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 45px;
    background: #F9FCFF 0% 0% no-repeat padding-box;
}
.left-cont{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 70.3vh;

}
.header-div{
    text-align: left;
    font: normal normal bold 38px/44px Graphik;
    letter-spacing: 1.14px;
    color: #363636;
    opacity: 1;
}
.para-div{
    text-align: left;
    font: normal normal normal 24px/32px Graphik;
    letter-spacing: 1.2px;
    color: #5D5D6E;
    opacity: 1;
}
.btn-div{
    display: flex;
    gap: 25px;
}
.btn-div button{
background: goldenrod 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
width: 11vw;
height: 8.3vh;
}
.get,.us{
    text-align: center;
    font: normal normal medium 15px/20px Roboto;
    letter-spacing: 0.54px;
    color: #FFFFFF;
    opacity: 1;
}
.btn-div button:hover{
    cursor: pointer;
    border: 2px solid goldenrod;
    background: #F7F7F7;
    color: goldenrod;
}
.dv{
    height: 83vh;
    width: 36vw;
}
.mv{
    display: none;
}
/* 3rd container */
.container-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;

}

.heading-container{
    display: flex;
    width: 40vw;
    text-align: left;
    justify-content: space-between;
}
.vertical-Line{
    width: 2vw;
    height: 18vh;
    background: #4AA0FC 0% 0% no-repeat padding-box;
    opacity: 1;
}
.headings-2{
    margin-left: 0.5vh;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.box1 h2{
    text-align: left;
font: normal normal normal 22px/24px Bahnschrift;
letter-spacing: 1.36px;
color: #3F3F3F;
}
.vertical-line2{
    width: 0vw;
    height: 70%;
    border: 2px solid #D2CECE;
    opacity: 1;
}
.image-container{
    position: relative;
}
.assured{
    position: absolute;
    z-index: -1;
width: 30vw;
height: 60vh;
border-radius: 50%;
/* background: transparent url('img/mechanical-engineer-technician-car-inspecting-769ahdnuovbgb7yf.png') 0% 0% no-repeat padding-box; */
background: transparent url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.nerdwallet.com%2Fassets%2Fblog%2Fwp-content%2Fuploads%2F2022%2F06%2FGettyImages-1343076140.jpg&tbnid=GovqVBdAaF-OwM&vet=12ahUKEwjFufqh28n-AhXkX3wKHSV-AYkQMygFegUIARDqAQ..i&imgrefurl=https%3A%2F%2Fwww.nerdwallet.com%2Farticle%2Fcredit-cards%2Fbest-credit-cards-for-car-repairs&docid=Dz-JUghpS-LE5M&w=2500&h=1563&q=car%20repair%20images&ved=2ahUKEwjFufqh28n-AhXkX3wKHSV-AYkQMygFegUIARDqAQ') 0% 0% no-repeat padding-box;
border: 55px solid #F7F7F7;
opacity: 1;

}
.box{
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 8px #00000029;
    border-radius: 14px;
    opacity: 1;
    justify-content: space-around;
    margin: auto;
    width: 43vw;
    height: 23.8vh;
    top: 80%;

}
.container-4{
    margin-top: 125px;
    background: #FDFBF9 0% 0% no-repeat padding-box;
    align-items: center;
    margin-bottom: 65px;
}
.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 31vw;
    margin: auto;
    margin-top: 25px;

}
.header hr{
            height: 4px;
            background: #4AA0FC 0% 0% no-repeat padding-box;
            opacity: 1; 
            width: 30vw;
}
.header h2{
    font: normal normal 600 26px/34px Graphik;
    letter-spacing: 0.78px;
    color: #363636;
    opacity: 1;
}
.partner-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 26vw;
    height: 70vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 14px #00000021;
    border-radius: 21px;
    opacity: 1;
    
}
.one-cont{

    background: goldenrod 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #00000029;
    border-radius: 50%;
    width: 6vw;
    height: 12vh;
    margin: auto;
    display: flex;
}
.one {
    text-align: center;
font: normal normal medium 25px/35px Graphik;
letter-spacing: 0.75px;
color: #FFFFFF;
margin: auto;
justify-content: center;
}
.partner-head{
    text-align: center;
font: normal normal 600 19px/34px Graphik;
letter-spacing: 0.57px;
color: #363636;
opacity: 1;
align-items: center;
justify-content: start;
}
.partner-para{
    text-align: center;
font: normal normal normal 16px/26px Graphik;
letter-spacing: 0.58px;
color: #5D5D6E;
opacity: 1;
}
.partner-img{
    display: flex;
    width: 6.3vw;
    height: 13.2vh;
    margin: auto;
    justify-content: center;
    margin-bottom: 80px;
}
.req-box{
    width: 28vw;
    height: 77vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 14px #00000021;
    border-radius: 21px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.two-cont{
    width: 6.5vw;
    height: 13.5vh;
    background: goldenrod 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #00000029;
    border-radius: 50%;
    margin: auto;
    display: flex;
}
.two {
    text-align: center;
    font: normal normal medium 25px/35px Graphik;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    margin: auto;
    justify-content: center;  
}
.req-box h5{
    text-align: center;
    justify-items: center;
font: normal normal 600 24px/37px Graphik;
letter-spacing: 0.72px;
color: #363636;
opacity: 1;
}
.content{
    margin-bottom: 50px;
}
.content-2{
    margin-bottom: 10px;
}
.req-box p{
    text-align: center;
font: normal normal normal 16px/26px Graphik;
letter-spacing: 0.58px;
color: #5D5D6E;
opacity: 1;
}
.req-box img{
    height: 17.5vh;
    width: 8.5vw;
}
.cards{
    display: flex;
   align-items: end;
    justify-content: space-around;
    margin-top: 50px;
}
/* container-4 */
.container-5{
    background: #468FEC 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    margin: auto;
}
.container-5-head{
    width: 51vw;
    font: normal normal bold 27px/54px Roboto;
letter-spacing: 1.08px;
color: #FFFFFF;
opacity: 1;
text-align: center;
}
.container-5-para{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 68vw;
font: normal normal normal 22px/27px Roboto;
letter-spacing: 0.88px;
color: #FFFFFF;
opacity: 1;
text-align: center;
}
.container-5-btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFC500 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    font: normal normal bold Roboto;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.52px;
    color: #FFFFFF;
    width: 12.1vw;
    height: 7.6vh;
    text-align: center;
}
/* container-6 */
.container-6{
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container-6-head{
    font: normal normal 600 22px/34px Graphik;
    letter-spacing: 0.66px;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    margin-bottom: 30px;
}
.imagebox-container{
    display: flex;
    justify-content: space-around;
}
.benefits img{
    width: 18vw;
    height: 25vh;
}
.imagebox-container h5{
    text-align: center;
font: normal normal medium 17px/27px Graphik;
letter-spacing: 0.51px;
color: #3F3F3F;
opacity: 1;
}
.investor{
    background: #F8F8F8 0% 0% no-repeat padding-box;
opacity: 1;
padding: 15px;
width: 100%;

}
.investor-head{
    text-align: center;
    font: normal normal 600 22px/34px Graphik;
    letter-spacing: 0.66px;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 40px;
    margin-top: 25px;
}
.container-7-img{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
/* container-8 */
.photosection{
    margin: auto;
    margin-top: 70px;
}
.photosection-head{
    text-align: center;
font: normal normal 600 22px/34px Graphik;
letter-spacing: 0.66px;
text-transform: uppercase;
opacity: 1;
margin-bottom: 60px;
}
.container-8-img{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
/* container-9 */
.achievement{
    margin-bottom: 50px;
}
.achievement-head{
    text-align: center;
font: normal normal 600 22px/34px Graphik;
letter-spacing: 0.66px;
text-transform: uppercase;
opacity: 1;
margin-bottom: 94px;
}
.container-p-img-grid{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content:center ;
    
}
.left-grid{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.largeimg{
    width:54vw;
    height: 70vh;
    background: transparent url('img/1674304098940.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 14px #00000021;
    border-radius: 21px;
   
}
.largeimg p{
    text-align: left;
    font: normal normal normal 16px/22px Graphik;
    letter-spacing: 0.58px;
    color: #5D5D6E;
    opacity: 1;
}
.largeimg img{
    width:54vw;
    opacity: 1;
}
.largeimg h5{
    text-align: left;
    font: normal normal 600 19px/34px Graphik;
    letter-spacing: 0.57px;
    color: #363636;
    opacity: 1;
}
.row-flex{
    display: flex;
    gap: 15px;
}
.row-flex img{
    border-radius: 21px;
    width: 17.2vw;
height: 23vh;
background: transparent url('img/1666184668084.png') 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 14px #00000021;
}
.column-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12vw;
    gap: 25px;
    height: 100%;
}
.column-flex img{
   width: 17.2vw;
height: 21vh;
    border-radius: 21px;
    background: transparent url('img/1666184668084.png') 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 14px #00000021;
}
/* footer */
.footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 7.6vh;
    padding-bottom: 7.6vh;
    background: #003152 0% 0% no-repeat padding-box;
}
.left-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.usa{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 11vw;
}
.usa h1{
    font: normal normal 600 30px/20px Graphik;
    letter-spacing: 1.08px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 5vh;
}
.usa p{
    font: normal normal medium 12px/20px Graphik;
    letter-spacing: 0.43px;
    color: #FFFFFF;
}
.usa,.uae{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 11vw;
}
.india{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 16vw;
    
}
.india h1{
    font: normal normal 600 30px/20px Graphik;
    letter-spacing: 1.08px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 5vh;
}
.india p{
    font: normal normal medium 12px/20px Graphik;
    letter-spacing: 0.43px;
    color: #FFFFFF;
}
.uae h1{
    font: normal normal 600 30px/20px Graphik;
    letter-spacing: 1.08px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 5vh;
}
.uae p{
    font: normal normal medium 12px/20px Graphik;
    letter-spacing: 0.43px;
    color: #FFFFFF;
}
.countires{
    display: flex;
    flex-direction: row;
    gap: 90px;
}
.footer-vertical{
    border: 1px solid #FFFFFF;
    opacity: 1;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.contact img{
    width: 1.5vw;
    height: 3vh;
}
.contact a{
    font: normal normal normal 13px/22px Graphik;
    letter-spacing: 0.47px;
    color: #FFFFFF;
    text-decoration: none;

}
.contact p{
    font: normal normal normal 11px/22px Graphik;
    letter-spacing: 0.4px;
    color: #D2D2D2;
}
.mail-support{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mail{
    display: flex;
    gap: 5px;
    font: normal normal normal 13px/22px Graphik;
    letter-spacing: 0.47px;

}
.navs{
    font: normal normal medium 20px/22px Graphik;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.navs h4:hover{
    cursor: pointer;
}
.privacy{
    font: normal normal normal 12px/22px Graphik;
    letter-spacing: 0.43px;
    color: #D2D2D2;
    display: flex;
    
    gap: 45px;
    align-items: start;
}
.form-cont{
align-items: center;
width: 90%;
margin-bottom: 15px;
}
.form{
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #FFFFFF;
border-radius: 12px;
align-items: center;
padding-top: 7vh;
padding-bottom: 15px;
}
.email{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 6px;
    width: 90%;
    height: 5.6vh;
    margin-bottom: 15px;
}
.label{
    display: flex;
    flex-direction: column;
text-align: left;
font: normal normal medium 12px/22px Graphik;
letter-spacing: 0.43px;
color: #003152;
width: 90%;
}
.label label{
    margin-bottom: 15px;
}
.label input{
    margin-bottom: 15px;
}
.messagearea{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 6px;
    height: 18vh;
}
.btn{
    background: #FF8E2B 0% 0% no-repeat padding-box;
border-radius: 6px;
color: #FFFFFF;
width: 90%;
height: 5vh;
}
.btn:hover{
    cursor: pointer;
}
.social{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.social img:hover{
    cursor: pointer;
}


@media screen and (max-width: 1000px){
    .largeimg{
        padding-bottom: 25px;
        height: 100%;
    }
    .container-p-img-grid{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: auto;
    }
    .column-flex{
        display: none;

    }
  
}

@media screen and (max-width: 800px){
    
    .titlephoto{
        width: 50%;
        margin: auto;
    }
    .flex-2{
        /* display: block; */
        display: flex;
    gap: 4.3vw;
    justify-content: space-between;
    color: #4A4A4A;
    font: normal normal 600 15px/20px Segoe UI;
    opacity: 1;
    margin: auto;
    }
    .flex-3 button{
        width: 100%;
    }
    .homesection{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .btn-div button{
        width: 50%;
        
    }
    .left-cont{
        width: 70%;
    }
    .mv{
        display: block;
    }
    .dv{
        display: none;
    }
    .container-3{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding-bottom: 70px;
    }
    .largeimg{
        padding-bottom: 0;
    }
    .heading-container{
        width: 80%;
        margin: auto;
    }
    .image-container{
     height: 80%;
        width: 90%;
     
    }
    .partner-box img{
        width: 30%;
        height: auto;
    }
    .req-box img{
        width: 30%;
        height: auto;
    }
    .box h2{
        text-align: left;
font: normal normal normal 11px/12px Bahnschrift;
letter-spacing: 0.68px;
color: #3F3F3F;
    }
  .container-4{
    width: 100%;
  }
  .header{
width: 100%;
margin-bottom: 50px;
  }
      .one-cont{
      
        width: 25%;
     }
     .two-cont{
        width: 25%;
     }
    .header h2{
    display: flex;
    margin-top: 25px;
}
.header hr{

    width: 100%;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 25px;
    align-items: center; 
}
.partner-box{
    width: 65%;
}
.req-box{
    width: 65%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 14px #00000021;
    border-radius: 21px;
    opacity: 1;
}
.req-head{
    text-align: center;
font: normal normal 600 19px/34px Graphik;
letter-spacing: 0.57px;
color: #363636;
opacity: 1;
align-items: center;
justify-content: start;
}
   .imagebox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: auto;
   }
   .imagebox-container img{
    width: 90%;
   }
   .container-7-img{
    display: grid;
  gap: 25px ;
  grid-template-columns: auto auto;
  padding: 5px;
  align-items: center;

   }
  
   .container-8-img{
    display: flex;
    flex-direction: column;
    gap: 35px;
   }
   .footer{
    display: flex;
    flex-direction: column;
    gap: 35px;
   }
   .countires{
    display: flex;
    justify-content: space-around;
    margin: auto;
   }
   .navs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
   }
   .form{
    margin: auto;
    margin-left: 20px;
   }
   .social{
    width: 50%;
    margin: auto;
   }
}
@media screen and (max-width: 550px){
    .topnav{
        position: fixed;
    }
    .largeimg{
        padding-bottom: 0;
    }
    .contact{
        margin-top: 25px;
        display: flex ;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-left:50px;
    }
    .mail-support,.whatsapp,.team{
        width: 100%;
    }
.mail-support img{
    width: 5%;
    height: auto;
}
.whatsapp img{
    width: 5%;
    height: auto;
}

.team img{
   width: 5%;
    height: auto;
}
    .box{
        width: 90%;
    }
     .one-cont{
      
        width: 25%;
     }
     .two-cont{
        width: 25%;
     }
     .container-5-btn button{
        display: flex;
        align-items:center ;
        width: 75%;
        margin: auto;
     }

}
@media screen and (max-width: 450px){
.countires{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 25px;
}
.usa{
    width: 80%;
}
.india{
    width: 80%;
}
.uae{
    width: 80%;
}
}